*.pyc
*.txt
*.html
*.xml
__pycache__
.idea
.mypy_cache
.ipynb_checkpoints/
.vscode/
docs/_build
docs/_static
docs/_templates
docs/**.rst
docs/make.bat
docs/Makefile
dist
build
strategy_simulation.egg-info
!requirements.txt
